.board-container {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.system-circle {
  cursor: pointer;
  transition: stroke 0.2s;
}

.game-object {
  cursor: pointer;
}
