.game-root {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 200px;
  height: 100vh;
  background: #111;
  color: #eee;
}

.board-container {
  grid-row: 1 / span 2;
  grid-column: 1;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-area {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  background: #1a1a1a;
}

.info-panel {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 1px solid #333;
  padding: 10px;
}
