/* // /modules/throneworld/frontend/components/ThroneworldPlayerArea.css */
.tw-row {
  display: flex;
  justify-content:space-between;
  align-items: center; /* optional, keeps them vertically aligned */
}

.tw-row-left {
  display: flex;
  justify-content:left;
  align-items: center; /* optional, keeps them vertically aligned */
}

.tw-tech-row {
  display:flex;
  gap: 12px;
  margin-bottom: 6px;
}

.tw-tech-item {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  cursor: help;
}

.tw-tech-icon {
  font-size: 16px;
}

.tw-tech-value {
  font-weight: 700;
  font-size: 14px;
  font-family: monospace;
}

.tw-production {
  padding-left: 6px;
}

.tw-faction-name {
  font-weight: bold;
  font-size: 16px;
}